@tailwind base;
@tailwind components;
@tailwind utilities;

img {
    -webkit-user-drag: none; /* For Chrome, Safari, and Opera */
    user-drag: none; /* For Firefox */
  }
  
  /* Prevent text selection */
  body {
    user-select: none; /* For modern browsers */
    -webkit-user-select: none; /* For Safari */
    -moz-user-select: none; /* For Firefox */
    -ms-user-select: none; /* For Internet Explorer and Edge */
  }
